# LaTeX files
**/*.bbl
**/*.blg
**/*.brf
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.out
**/*.synctex.gz
**/*.log
**/*.pdf

**/.DS_Store/
.vscode
.idea
geoguessr_filtered_data/
geoguessr_50k_data/
google_street_view_data/
unified_dataset/
sun_attributes/
__pycache__/
*.pyc
.DS_Store
Classifier Code.zip
main-classifier/data
main-classifier/code/continent_tensors_5000_split
main-classifier/code/continent_tensors_11000_split
main-classifier/code/50k_data
*.pt
*.png
data/
data
main-classifier/code/results
*.err
*.pth
model_weights/best_biome_clip_lora.pth